/* 
------ Home Page ------
*/

/* Add black background to the top navigation bar */
.topnav {
    background-color: none;
    overflow: hidden;
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: center;

}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #e8e8e8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
    text-decoration: underline;
    background-color: none;
    color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: none;
    color: white;
}

/* Giving the entire body of the website a colour */
body {
    background-color: #222222;
    font-family: 'JetBrains Mono', monospace;
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;

}

/* 
------ List ------
*/

.list li {
    color: #e8e8e8;
    list-style-type: none;
    margin-bottom: 15px;

}

.list li:hover {
    color: white;
}

.list a {
    color: inherit;
    text-decoration: none;
    transition: font-size 0.7s ease;
}

.list a:hover {
    color: inherit;
    text-decoration: underline;
    font-size: 1.01em;
}

.list a:visited {
    color: inherit;
}

/* 
------ Subpages ------
*/

.back-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    color: #e8e8e8;
    text-decoration: none;
    font-size: 35px;
    border-radius: 4px;
}

.back-button:hover {
    background-color: #464646;
    color: white;
}

.content {
    padding-top: 50px;
    color: #e8e8e8;
    font-family: 'JetBrains Mono', monospace;
}

.main-title {
    color: #e8e8e8;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
}

.coming-soon {
  /* optional styling */
  font-family: "JetBrains Mono", monospace;
  font-size: 2rem;
}